[report]
omit =
    */virtualenv/*
    */.buildout/eggs/*
    bin/test
    buildout-cache/eggs/*
    eggs/*
    parts/*
    src/crate/client/_pep440.py
exclude_lines =
    # pragma: no cover
    raise NotImplemented
