/bin/
/parts/
/develop-eggs/
/.installed.cfg
crate.egg-info
/crate-python.iml
/dist
/build
*.pyc
/.idea/
.tox/
*.DS_Store

/devtools/bin/
/devtools/dependencies/
/devtools/eggs/
/devtools/parts/
/devtools/develop-eggs/
/devtools/.installed.cfg
/devtools/crash-*.zip.py
/devtools/venv/
