<bader@lovelysystems.com> <privat@chrisb.at>
Jürgen Kartnaller <juergen@kartnaller.at>
Jürgen Kartnaller <juergen@kartnaller.at> <kartnaller@lovelysystems.com>
Mathias Fussenegger <f.mathias@zignar.net>
<matthias@crate.io> <matthiasfelsche@m7f6.de>
<matthias@crate.io> <mfelsche@users.noreply.github.com>
<matthias@crate.io> <wahl@crate-technology.com>
<bogensberger@lovelysystems.com> <philipp@crate.io>
Bernd Dorn <bernddorn@gmail.com>
