language: python
python:
  - 2.6
  - 2.7
  - 3.3
  - 3.4
install:
  - pip uninstall -y setuptools
  - python bootstrap.py
  - ./bin/buildout
script:
  - bin/coverage run bin/test
after_success:
  - pip install coveralls
  - coveralls
notifications:
    email: false
