[buildout]
develop = .
extends = versions.cfg
versions = versions
show-picked-versions = true
parts = test
        crate
        tox
        scripts
        sphinx
        sphinx-cmd

[scripts]
recipe = zc.recipe.egg:script
interpreter = py
eggs = crate
       wheel

[tox]
recipe = zc.recipe.egg:script
eggs = tox

[crate]
recipe = hexagonit.recipe.download
url = https://cdn.crate.io/downloads/releases/crate-${versions:crate_server}.tar.gz
strip-top-level-dir = true

[test]
relative-paths=true
recipe = zc.recipe.testrunner
defaults = ['--auto-color']
eggs = crate [test,sqlalchemy]

[sphinx]
recipe = zc.recipe.egg:script
eggs = sphinx
       crate-docs-theme
relative-paths=true

[sphinx-cmd]
recipe = lovely.recipe:mkfile
path = ${buildout:bin-directory}/sphinx
mode = 0755
content = #!/bin/sh
          ${buildout:bin-directory}/sphinx-build  -N -q -b html -E docs ${buildout:directory}/out/html
