name: docs

on:
  workflow_dispatch:
  pull_request: ~
  push:
    branches:
      - main
  schedule:
    - cron: '0 7 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  documentation:

    name: Run link checker
    runs-on: ubuntu-latest

    steps:
      - name: Acquire sources
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: 'setup.py'

      - name: Build docs
        run: |
          cd docs && make check
