---
name: docs
on:
  workflow_dispatch:
  pull_request: ~
  push:
    branches:
      - main
  schedule:
    - cron: '0 7 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  checks: write
  statuses: write

jobs:
  documentation:

    name: Run link checker
    runs-on: ubuntu-latest

    steps:
      - name: Acquire sources
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          cache-dependency-glob: |
            pyproject.toml
          enable-cache: true
          activate-environment: true
          version: "latest"

      - name: Setup env
        run: uv pip install --group docs

      - name: Build docs
        run: |
          cd docs && make check
