---
name: release

on: push

permissions:
  contents: read
  checks: write
  statuses: write

jobs:
  pypi:
    name: 'Build & publish package to PyPI'
    runs-on: 'ubuntu-latest'
    if: startsWith(github.event.ref, 'refs/tags')
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up uv
        uses: astral-sh/setup-uv@v7

      - name: Build package
        run: uv build

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
