name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:


jobs:
  test:
    name: "Python: ${{ matrix.python-version }}
     SQLA: ${{ matrix.sqla-version }}
     on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-2019]
        python-version: ['3.7', '3.8', '3.9', '3.10']
        cratedb-version: ['4.8.0']
        sqla-version: ['1.3.24']
      fail-fast: true

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Adjust environment for macOS
        if: matrix.os == 'macos-latest'
        run: |
          brew install gnu-getopt
          echo "/usr/local/opt/gnu-getopt/bin" >> $GITHUB_PATH

      - name: Install dependencies
        shell: bash
        run: |
          ./devtools/setup_ci.sh --cratedb-version=${{ matrix.cratedb-version }} --sqlalchemy-version=${{ matrix.sqla-version }}

      - name: Fix Windows environment
        if: matrix.os == 'windows-2019'
        shell: bash
        run: |
          # Disable firewall.
          netsh advfirewall set allprofiles state off

          # Reset IP stack.
          netsh winsock reset

          # Disable IPv6.
          netsh interface teredo set state disabled
          netsh interface ipv6 6to4 set state state=disabled undoonstop=disabled
          netsh interface ipv6 isatap set state state=disabled

      - name: Invoke tests
        shell: bash
        run: |
          bin/flake8
          bin/coverage run bin/test -vv1
          bin/coverage xml

      # https://github.com/codecov/codecov-action
      - name: Upload coverage results to Codecov
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true
